.main {
	background-color: #fff;
	padding-top: 30px;
}

.main__top--shrines {
	position: relative;
	width: 1340px;
	background-color: #fff;
	text-align: left;
	margin: 0 auto;
	padding-bottom: 30px;
}

.main-heading {
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 15px;
	padding: 0;
	font-size: 30px;
}
.main-discription {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;	
	color: #333333;
	opacity: 0.6;
}
